<% include header %>
<section id="overlay">
    <h2>Log in</h2>
    <form action="/login" method="post">
      <input class="input-field" type="email" name="email" placeholder="E-mail">
      <input class="input-field" type="password" name="password" placeholder="Password">
      <input class="submit-button" type="submit" value="Submit" >
    </form>
    <p>Your first time here? <a href="/register">Create</a> an account!</p>
</section>
<% include footer %>
